.App {
  text-align: center;
}

.body-wrapper {
  max-width: 1920px;
  min-height: 652px;
  position: fixed;
  width: 100%;
  min-width: 1024px;
  top: 48px;
  bottom: 30px;
  padding: 20px;
  overflow-y: auto;
}

div.flex {
	display: flex;
}